<h1>Edit profile</h1>
<form {{action 'edit' on='submit'}}>
    <div class="left inline-header">
        <label for="password">Password</label>
    </div>
  {{input value=profile.password placeholder='Password' type='password'}} <br>
    <div class="left inline-header">
        <label for="name">Name</label>
    </div>
  {{input value=profile.name placeholder='Name'}} <br>
    <div class="left inline-header">
        <label for="surname">Surname</label>
    </div>
  {{input value=profile.surname placeholder='Surname'}} <br>
    <button class="button" type="submit">Edit</button>
</form>

{{#if errorMessage}}
    <div class="alert alert-danger">
        <p>
            <strong>Edit failed:</strong> <code>{{errorMessage}}</code>
        </p>
    </div>
{{/if}}