<h1>Profile info</h1>
<div>
    <label>Login:</label>
    <label>{{profile.login}}</label>
</div>
<div>
    <label>Name:</label>
    <label>{{profile.name}}</label>
</div>
<div>
    <label>Surname:</label>
    <label>{{profile.surname}}</label>
</div>
<div>
    <label>Correct Answers:</label>
    <label>{{profile.correctAnswers}}</label>
</div>
<div>
    <label>Wrong Answers:</label>
    <label>{{profile.wrongAnswers}}</label>
</div>
