<h1>Profile info</h1>
<div>
    <div class="left inline-header">
        Login:
    </div>
  {{profile.login}}
</div>
<div style="clear: left">
    <div class="left inline-header">
        Name:
    </div>
  {{profile.name}}
</div>
<div style="clear: left">
    <div class="left inline-header">
        Surname:
    </div>
      {{profile.surname}}
</div>
<div style="clear: left">
    <div class="left inline-header">
        Верные ответы:
    </div>
  {{profile.correctAnswers}}
</div>
<div style="clear: left">
    <div class="left inline-header">
        Неверные ответы:
    </div>
  {{profile.wrongAnswers}}
</div>
