<h1>{{{model}}}</h1>
<h1>{{model.name}}</h1>
<ul>
  {{#each model.questions as |question|}}
      <ul>
          <div>
              <div>{{question.question}}</div>
              <div>{{question.answer}}</div>
          </div>
      </ul>
  {{/each}}
</ul>
{{outlet}}
