{{#each model as |game|}}
    <div class="games-menu">
        <div>Название игры: {{game.name}}</div>
        <div>Длительность ответа на вопрос: {{game.questionTime}}</div>
        <div>Количество вопросов: {{game.questionsNumber}}</div>
        <div>
            <button class="button start-game-button" {{action "startGame" game.id}}>Начать игру</button>
        </div>
    </div>
{{/each}}
{{outlet}}